/venv/
/First Encounter with Fully Connected Neural Networks/PyTorch/data/FashionMNIST/
/First Encounter with Fully Connected Neural Networks/PyTorch/model.pth
/First Encounter with Fully Connected Neural Networks/PyTorch/model_weights.pth
